#board{
	max-width:  640px;
	min-width:  320px;
	width:  75%;
	margin: auto;
}

.square{
	width: 30%;
	background-color: #588674;
	color: blue;
	padding: 30px;
	box-sizing: border-box;
	float: left;
	font-size: 80px;
	border: 2px solid white;
}